include LICENSE
include requirements.txt
include images/*.*
include barcap/device_list/screenshot/*.*
include barcap/device_list/.gitignore
include barcap/device_list/device.cpp
include barcap/device_list/LICENSE
include barcap/device_list/README.md
